/* HTML */
html {
    background-color: blanchedalmond;
}

/* Main styling */
#container {
    display: flex;
    padding-bottom: 70px;
    align-items: center;
    
}


.container {
    background-color:  rgb(99, 92, 82); 
   
}





/* Nav bar */
#navbar {  
    color:  rgb(235, 148, 18);
    overflow: hidden;
    
}

#navbar a {
    float:none
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    color:rgb(235, 148, 18);
    font-size: 20px;
    
}

#navbar ul {
    list-style: none;

}

.ball {
    color:rgb(235, 148, 18);
    text-align: center;
    
    
}

.ball a {
    color:rgb(235, 148, 18);
    padding: 70px 0px;
    
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }


/* Pictures*/

.james{
    display: block;
    margin-left: auto;
    width: 40%;
    padding-bottom: 45px;
}

/* About p */

.welcome {
text-align: center;
}

span {
    font-size: 30px;
}


#container img {
    max-height: 100%;
    max-width: 200px;
      
   
}

.c1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    background-color: white;
    
}

.text {
    display:block;
    float: left;
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 14px;
    padding-top: 350px;
    
}


.block { 

    font-size: 16px;
    text-align: center;
    cursor: grab;

    
}

.text-2 {
    text-align: center;
    
}

/* Btn styling */
.text-2 {
  
}

/* Biographies */
.clear {
    border-bottom-style:dotted;
    padding-bottom:1px;
    padding-top: 1px;
}

#container-2 {
    padding-top: 25px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    
    
    
    
}

#container-2 img {

    max-height: 100%;
    max-width: 200px;
    float: none;
    

}

.bio {
    font-size: 25px;
  
    
}


#container-3 h1 {

    margin: auto;
    font-size: 20px;

}
#container-3 {

    align-items:end;
}
    



    



/* Footer */
#main-footer {
    color:rgb(235, 148, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(99, 92, 82);
    text-align: center;
    



    

}









