/* HTML */
html {
    background-color: blanchedalmond;
}

/* Main styling */
#container {
    display: flex;
    padding-bottom: 70px
    
}


.container {
    background-color:  rgb(99, 92, 82); 
    border-radius: 50%;
    
    
}




/* Padding */



/* Nav bar */
#navbar {  
    color:  rgb(235, 148, 18);
    overflow: hidden;
    
}

#navbar a {
    float:none
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 10px;
    color:rgb(235, 148, 18);
    font-size: 20px;
    
}

#navbar ul {
    list-style: none;

}

.ball {
    color:rgb(235, 148, 18);
    text-align: center;
    
    
}

.ball a {
    color:rgb(235, 148, 18);
    padding: 70px 0px;
    
}

a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a:active {
    text-decoration: underline;
  }


/* Pictures*/

.james{
    display: block;
    margin-left: auto;
    width: 40%;
    padding-bottom: 45px;
}

/* About p */

span {
    font-size: 30px;
}

#container {
 
    align-items: center;
   

   }

#container img {
    max-height: 100%;
    max-width: 200px;
    margin: auto;
    
    
}
.c1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    
}

.text {
    display:block;
    float: left;
    position: absolute;
    text-align: center;
    font-size: 15px;
    line-height: 14px;
    padding-top: 350px;
    
}

.btn {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    
}

.text-2 {
    text-align: center;
    
}

/* Btn styling */
.text-2 {
  background-image: url();
}


/* Footer */
#main-footer {
    color:rgb(235, 148, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(99, 92, 82);
    text-align: center;
    



    

}









