/* HTML */
html {
    
    background: linear-gradient(132deg, rgb(255, 0, 0) 0.00%, rgb(255, 213, 0) 100.00%);

}

.top {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: px;
    padding: 6px;
    font-size: 24px;
}

/* New header */

.header {
    overflow: hidden;
    padding: 20px;

}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
    
}

.header a:hover {
    background-color: #ddd;
    color:black;
}

.header a.active {
    background-color: orangered;
    color: black;
    font-weight: bold;
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display:block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/* Main page styling */
#container {
    
    padding-bottom: 70px;
    align-items: center;
    
}

.container {
    background-color:  rgb(99, 92, 82); 
   
}

#container-jn {
   display: flex;
      
}

#container-jn figure{
    border: 1px wheat solid;
}

.timeline h1:hover {
    color: rgb(156, 235, 9);
    cursor: pointer;
    
}
.timeline p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.timeline h1 {
    
    margin-right: 97%
}

/* Pictures*/

.james{
    display: block;
    margin-left: auto;
    width: 40%;
    padding-bottom: 45px;
}

/* About p */

.welcome {
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bol;
}

span {
    font-size: 30px;
}

.container-about img {
    max-height: 100%;
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    
    
}



.c1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: white;
    
}

.text-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}

.block { 

    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.text-2 {
    text-align: center;
    
}

/* Btn styling */
.text-2 {
  
}

/* Biographies */
.clear {
    border-bottom-style:solid;
    padding-bottom:1px;
    padding-top: 1px;
}

.container-2 {
    padding-top: 25px;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 35px;
   
}

.container-2 h1 {
    text-align: center;
}
    


.container-yt {

    
    
    margin-left:  250px;


}

.container-2 img {

    max-height: 10%;
    max-width: 275px;
    float: none;

}


.img-text h1 {

    margin: auto;
    font-size: 20px;

}

.img-text {
    margin-right: auto;
}

.img-text a {
    cursor:cursor;
    color: rgb(156, 235, 9);
    
}
.container-yt  p {
    text-align: center;
}

.bio-page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


/* Careers and More */

.fame {

  
    text-align: center;

}

.fameP img{

    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

.fame-info, .fame-info2  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    
    
    
}

.fame-info2 ul {
    
    margin-left: 400px;
    margin-right: 400px;
   
    
}

.fame h1 {
    font-size: 50px;
    color: rgb(255, 208, 0);

}

.container-fame{

    
}







/* Footer */

.footer {

    width: 100%;
    background-color: orangered;
    color: white;
    text-align: center;
    
    

}











